<md-grid-list cols="4" rowHeight="120px">
    <md-grid-tile colspan=1 rowspan=7>
        <button md-fab>建造</button>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第七层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第六层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第五层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第四层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第三层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第二层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile colspan=3 rowspan=1>
        <md-card>
            <md-card-header>
                <md-card-title>第一层</md-card-title>
            </md-card-header>
            <!--<img  md-card-image src="" alt="">-->
            <md-card-actions>
                <button md-button>开启</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
</md-grid-list>