<!--<md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let folder of folders">
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>{{folder.name}}</h4>
        <p md-line> {{folder.updated | date}} </p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Notes</h3>
    <md-list-item *ngFor="let note of notes">
        <md-icon md-list-avatar>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line> {{note.updated | date}} </p>
    </md-list-item>
</md-list>-->
<div class="middle">
    <button md-mini-fab color="warn">派发</button>
</div>

<md-list>
    <md-list-item>
        <md-icon md-list-avatar color="accent">folder</md-icon>
        <h4 md-line>去了西边</h4>
        <p md-line> 还有20分钟回来 </p>
        <span class="spacer"></span>
        <md-icon class="icon" title="大记事" color="accent">event</md-icon>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>去了西边</h4>
        <p md-line> 还有20分钟回来 </p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>去了西边</h4>
        <p md-line> 还有20分钟回来 </p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>去了西边</h4>
        <p md-line> 还有20分钟回来 </p>
    </md-list-item>
</md-list>