<md-tab-group>
    <md-tab label="任务">
        <md-card>
            <md-card-header>
                战役 ****4星难度
            </md-card-header>
            <md-card-content>
                需要一人
                <section class="example-section">
                    <md-checkbox class="example-margin">长刀</md-checkbox>
                    <!--<md-checkbox class="example-margin" [(ngModel)]="checked">匕首</md-checkbox>-->
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>接下</button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-header>
                搜寻 ****4星难度
            </md-card-header>
            <md-card-content>
                需要三人
                <section class="example-section">
                    <md-checkbox class="example-margin">弓箭</md-checkbox>
                    <md-checkbox class="example-margin">匕首</md-checkbox>
                    <md-checkbox class="example-margin">匕首</md-checkbox>
                    <!--<md-checkbox class="example-margin" [(ngModel)]="checked">匕首</md-checkbox>-->
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>接下</button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-header>
                护送 **2星难度
            </md-card-header>
            <md-card-content>
                需要一人
                <section class="example-section">
                    <md-checkbox class="example-margin">长枪</md-checkbox>
                    <!--<md-checkbox class="example-margin" [(ngModel)]="checked">匕首</md-checkbox>-->
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>接下</button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-header>
                狙击 ***3星难度
            </md-card-header>
            <md-card-content>
                需要二人
                <section class="example-section">
                    <md-checkbox class="example-margin">弓箭</md-checkbox>
                    <md-checkbox class="example-margin">弓箭</md-checkbox>
                    <!--<md-checkbox class="example-margin" [(ngModel)]="checked">匕首</md-checkbox>-->
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>接下</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab label="租借">
        <md-card>
            <md-card-header>
                今日可租借
            </md-card-header>
            <md-card-content>
                <section class="example-section">
                    <md-checkbox class="example-margin">诸葛弩</md-checkbox>

                    <!--<md-checkbox class="example-margin" [(ngModel)]="checked">匕首</md-checkbox>-->
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>租借</button>
            </md-card-actions>
        </md-card>

        <md-card>
            <md-card-header>
                今日可租借
            </md-card-header>
            <md-card-content>
                <section class="example-section">
                    <md-checkbox class="example-margin">霸王枪</md-checkbox>
                </section>
            </md-card-content>
            <md-card-actions>
                <button md-button>租借</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <!--<md-tab label="营救">Content 2</md-tab>
  <md-tab label="护送">Content 2</md-tab>-->
</md-tab-group>