<md-card>
    <md-card-header>
        <md-card-title>
            竹林
        </md-card-title>
    </md-card-header>
    <md-card-content>
        等级,成熟时间
    </md-card-content>
    <md-card-actions class="middle">
        <button md-mini-fab color="accent">砍伐</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>
            药田

        </md-card-title>
    </md-card-header>
    <md-card-content>
        等级,成熟时间
    </md-card-content>
    <md-card-actions>
        <button md-mini-fab color="accent">种植</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>
            茶园
        </md-card-title>
    </md-card-header>
    <md-card-content>
        等级,成熟时间
    </md-card-content>
    <md-card-actions>
        <button md-mini-fab color="accent">采集</button>
    </md-card-actions>
</md-card>