<md-card color="primary">
    <md-card-header>
        王记杂货
    </md-card-header>
    <md-card-content>
        购买杂货
        <p>打工增加防御</p>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="accent">买入</button>
        <button md-raised-button color="accent">打工</button>
    </md-card-actions>
</md-card>

<md-card class="">
    <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>-->
        有间茶楼
    </md-card-header>
    <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
    <md-card-content>
        <p>
            可以招工,打听故事
        </p>
        <p>打工增加灵活</p>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="accent">打工</button>
    </md-card-actions>
</md-card>

<md-card color="warn">
    <md-card-header>
        当当当铺
    </md-card-header>
    <md-card-content>
        <p>
            出售没用的杂物
        </p>
        <p>打工增加智力</p>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="warn">当出</button>
        <button md-raised-button color="accent">打工</button>
    </md-card-actions>
</md-card>

<md-card class="example-card">
    <md-card-header>
        陈记铁匠
    </md-card-header>
    <md-card-content>
        <p>
            装备
        </p>
        <p>打工增加力量,武力</p>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="accent">买入</button>
        <button md-raised-button color="accent">合成</button>
        <button md-raised-button color="accent">分解</button>
        <button md-raised-button color="accent">打工</button>
    </md-card-actions>
</md-card>