<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        <md-list background-color="accent">
            <md-list-item><a routerLink="/garden/house" class="navbar">厢房</a></md-list-item>
            <md-list-item><a routerLink="/garden/study" color="accent" class="navbar">藏书楼</a></md-list-item>
            <md-list-item><a routerLink="/garden/practice" color="accent" class="navbar">练武场</a></md-list-item>
            <md-list-item><a routerLink="/garden/hill" color="accent" class="navbar">后山</a></md-list-item>
        </md-list>
        <md-list background-color="accent">
            <md-list-item><a routerLink="/battle/map1" class="navbar">地图1</a></md-list-item>
            <md-list-item><a routerLink="/battle/map2" color="accent" class="navbar">地图2</a></md-list-item>
            <md-list-item><a routerLink="/battle/map3" color="accent" class="navbar">地图3</a></md-list-item>
            <md-list-item><a routerLink="/battle/map4" color="accent" class="navbar">地图4</a></md-list-item>
        </md-list>
    </md-sidenav>
    <!--<md-sidenav #homeBattle class="example-sidenav">
        <md-list background-color="accent">
            <md-list-item><a routerLink="/battle/map1" class="navbar">地图1</a></md-list-item>
            <md-list-item><a routerLink="/battle/map2" color="accent" class="navbar">地图2</a></md-list-item>
            <md-list-item><a routerLink="/battle/map3" color="accent" class="navbar">地图3</a></md-list-item>
            <md-list-item><a routerLink="/battle/map4" color="accent" class="navbar">地图4</a></md-list-item>
        </md-list>
    </md-sidenav>-->
    <md-toolbar>
        <nav class="spacer">
            <button md-button (click)="sidenav.open()">
      地图
    </button>

            <!--<button md-button (click)="homeBattle.toggle()">
      挑战
    </button>-->
        </nav>
    </md-toolbar>
    <md-toolbar>
        <span>人数</span>
        <span>药材</span>
        <span>茶叶</span>
        <span>银两</span>
    </md-toolbar>
    <router-outlet></router-outlet>

</md-sidenav-container>

<!--<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </md-sidenav>

    <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
    </div>

</md-sidenav-container>-->